* {
    font-family: 'Poppins', sans-serif;;
}

body {
    border: 2px solid black;
    background-color: rgb(114, 250, 216);
}

header {
    border: 1px solid black;
    background-color: rgb(123, 233, 95);
}
header  div  img:hover{
    src:"images/iconos2.jpg"
}

.Redes p {
    display: inline-block;
    margin-right: 30px;
}


nav {
    border: solid black 1px;
    background-color: rgb(90, 205, 90);
    
}





.imgredes {
    width: 100%;
    height: 50px;
    background-color: rgb(105, 228, 105);
}

.imgredes p{
    text-align: end;
    float: right;
    margin-right: 30px;
}


.aElectro {
    margin: 50px;
}

aside {
    border: 1px solid red;
    background-color: rgb(130, 238, 197);
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 600px;
    width: 25%;
    position: relative;
    float: left;
}
aside > div {
    margin: 3px;
    border: 1px solid black;
}
aside > div > img {
    height: 50px;
    width: 75%;

}

main {
      border: 1px solid blue;
    background-color: rgb(102, 227, 231);
    text-align: center;
    display: inline;
    width: 50%;
    float: left;
    height: 600px;
}

.publicidad {
    border: 1px solid green;
    display: flex;
    background-color: rgb(125, 240, 215);
    flex-direction: column;
    align-items: center;
    width: 24.6%;
    height: 600px;
    float: left;
}
.publicidad img{
    height: 250px;
    width: auto;
}

footer {
    clear: left;
    text-align: center;
}

.image {
    display: inline-block;
    position: relative;
    top: 10px;
}

header > h1 {
    display: inline-block;
}
